<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medicine List</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>Medicine name </th>
<!--        <th>Expiry date </th>-->
        <th>Price </th>
<!--        <th>Quantity left </th>-->
        <th>Description </th>
        <th>Is steroid </th>
        <th>Is antibiotic </th>
        <th>Is prescription needed </th>
        <th>Is added to buyList </th>
        <th>Actions</th><br>
    </tr>
    <tbody th:each="medicine: ${medicines}" >
    <tr>
    <td th:text="${medicine.getName()}"></td>
<!--    <td th:text="${medicine.getExpiryDate()}"></td>-->
    <td th:text="${medicine.getPrice()}"></td>
<!--    <td th:text="${medicine.getQuantityLeft()}"></td>-->
    <td th:text="${medicine.getDescription()}"></td>
    <td th:text="${medicine.getIsSteroid()}"></td>
    <td th:text="${medicine.getIsAntibiotic()}"></td>
    <td th:text="${medicine.getIsPrescriptionNeeded()}"></td>
        <td th:text="${medicine.getIsToBuy()}"></td>
        <td><a th:href="@{/medicine/edit/{id}(id=${medicine.id})}">EDIT</a> <a th:href="@{/medicine/delete/{id}(id=${medicine.id})}">DELETE</a> <a th:href="@{/medicine/buy/{id}(id=${medicine.id})}">BUY</a> </td><br>
    </tr>
    </tbody>
</table>
<td><a th:href="@{/medicine/add}">Add new medicine</a></td>
</body>
</html>