<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action = "@{/editMedicine}" th:object = "${medicine}" method = "post">
    <input type="text" th:field="*{id}"/>
    <p>Medicine name: <input type="text" th:field="*{name}"></p>
    <p>Price: <input type="text" th:field="*{price}"></p>
    <p>Quantity left: <input type="text" th:field="*{quantityLeft}"></p>
    <p>Is it a steroid? <input type="checkbox" th:field="*{isSteroid}" value="true"></p>
    <p>Is it an antibiotic? <input type="checkbox" th:field="*{isAntibiotic}" value="true"></p>
    <p>Is it a prescription drug? <input type="checkbox" th:field="*{isPrescriptionNeeded}" value="true"></p>
    <p>Expiry date: <input type="date" th:field="*{expiryDate}"></p>
    <p>Description: <input type="text" th:field="*{description}"></p>
    <p><input type="submit" value="Save medicine"></p>
</form>
</body>
</html>