<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sickness Data</title>
</head>
<body>
<h3>Sickness Data</h3>
<form th:action = "@{/sickness/edit}" th:object = "${sickness}" method = "post">
    <input type="hidden" th:field="*{id}"/>
    <p>Illness name: <input type="text" th:field="*{name}"></p>
    <p>Doctor in charge: <input type="text" th:field="*{doctor}" value="true"></p>
    <p>Starting date: <input type="date" th:field="*{startingDate}"></p>
    <p>Duration: <input type="text" th:field="*{duration}"></p>
    <p>Description: <input type="text" th:field="*{description}"></p>
    <p><input type="submit" value="Save medicine"></p>
</form>
</body>
</html>